// All of your custom SCSS variables go first
$primary:       #01d5a3 ;
$secondary:     #00f5a4 ;
$light:         #f5f5f5 ;
$dark:          #222222 ;

$enable-shadows: true ;
$enable-gradients: true ;

//bootstrap & bootstrap-vue should be added after 
//so that they inherit the custom SCSS variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

body {
    font-family: D DIN, sans-serif;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-Medium.ttf') format('truetype');
  }


  @font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Lato-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~assets/fonts/Lato-Bold.ttf') format('truetype');
  }



  @font-face {
    font-family: 'D DIN';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/D-DIN.otf') format('truetype');
  }

  @font-face {
    font-family: 'D DIN';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/D-DIN-Bold.otf') format('truetype');
  }

// Header animation
  .waves {
      position: absolute !important;
  }

  .parent-waves {
    position: relative !important;
}

  canvas {
      position: absolute !important;
      margin-top: -15rem;
  }