// All of your custom SCSS variables go first
$primary:       #00D3B0 ;
$secondary:     #00f5a4 ;
$green:         #00AFAE ;
$blue:          #008B9D ;
$dak-blue:      #11687F ;
$light:         #f5f5f5 ;
$dark:          #2F4858 ;

$enable-shadows: false;

// bootstrap & bootstrap-vue should be added after
// so that they inherit the custom SCSS variables
@import '~assets/css/bootstrap-4.6.0/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

body {
  font-family: D DIN, sans-serif;
}

h1 {
  font-family: Montserrat Semi-Bold;
  font-size: 2.3em !important;
  color: $primary !important;
}

h1.common-headline {
  text-align: center;
  padding-top: 4rem !important;
  padding-bottom: 6rem !important;
  color: $dark !important;
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/fa-brands-400.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/IcoMoon-Free.ttf') format('truetype');
}

@font-face {
  font-family: 'Arista';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Arista2.0.ttf') format('truetype');
}

@font-face {
  font-family: 'Arista Alt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Arista2.0Alternate.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Semi-Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'D DIN';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/D-DIN.otf') format('truetype');
}

@font-face {
  font-family: 'D DIN';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/D-DIN-Bold.otf') format('truetype');
}

// ray test touch <
// Header animation
.waves {
  position: absolute !important;
}

.parent-waves {
  position: relative !important;
}

canvas {
  position: absolute !important;
  margin-top: -15rem;
}
// ray test touch >

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(219, 219, 219, 0.185) !important;
  backdrop-filter: blur(15px);
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: .375rem; 
  background-color: #fff;
  background-clip: border-box;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}
.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.card-body {
  min-height: 1px;
  padding: 1.5rem; 
  flex: 1 1 auto;
}

.card-title {
  margin-bottom: 1.25rem;
}

.card-subtitle {
  margin-top: -.625rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.5rem;
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, .05); 
  background-color: #fff;
}
.card-header:first-child {
  border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
}
.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  border-top: 1px #DFDFDF solid;
  padding: 1.25rem 1.5rem;
  background: none;
}
.card-footer:last-child {
  border-radius: 0 0 calc(.375rem - 1px) calc(.375rem - 1px);
}

.card-header-tabs {
  margin-right: -.75rem;
  margin-bottom: -1.25rem;
  margin-left: -.75rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%; 
  flex-shrink: 0;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(.375rem - 1px);
  border-top-right-radius: calc(.375rem - 1px);
  height: 200px;
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(.375rem - 1px);
  border-bottom-left-radius: calc(.375rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    margin-right: -15px;
    margin-left: -15px; 
    flex-flow: row wrap;
  }
  .card-deck .card {
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px; 
    flex: 1 0;
  }
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    margin-bottom: 0; 
    flex: 1 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  display: flex;
  margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
    .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
}

.accordion > .card {
  overflow: hidden;
}
.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion > .card > .card-header {
  margin-bottom: -1px; 
  border-radius: 0;
}
